@charset "UTF-8";

body{font-family: Arial, Helvetica, sans-serif;
background-color: gray;
margin: 5px;
padding: 10px;}

header{background-color: white;
padding: 10px;
margin: 10px;
border-radius: 5px;}

main{background-color: white;
padding: 10px;
margin: 10px;
border-radius: 10px;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);}

footer{background-color: black;
color: white;
text-align: center;
padding: 2px;} 

footer > p {margin: 5px;}

article{background-color: lightgray;
padding: 5px;
border-radius: 5px;}

article > aside{background-color: rgb(110, 107, 107);}

nav{background-color: rgb(107, 105, 105);
padding: 3px;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);}

nav > a{text-decoration: none;
color: white;
font-weight: bold;
margin: 30px;}

nav > a:hover{text-decoration: underline;}   